commands:
  install_packages_for_doc_parsing:
    command: |
      dnf install -y poppler-utils tar file file-devel mesa-libGL
  install_pandoc_for_odt_doc_format:
    command: |
      curl -L https://github.com/jgm/pandoc/releases/download/3.1.1/pandoc-3.1.1-linux-amd64.tar.gz -o pandoc.tar.gz && \
      tar -xvzf pandoc.tar.gz && \
      cp -r pandoc-3.1.1/bin/* /usr/local/bin/ && \
      rm -rf pandoc.tar.gz pandoc-3.1.1
