files:
  "/opt/aws/amazon-cloudwatch-agent/bin/config.json":
    mode: "000600"
    owner: root
    group: root
    content: |
      {
          "agent": {
            "metrics_collection_interval": 60,
            "run_as_user": "root",
            "logfile": "/var/log/amazon-cloudwatch-agent.log"
          },
          "metrics": {
            "namespace": "CWAgent",
            "append_dimensions": {
              "InstanceId": "${aws:InstanceId}"
            },
            "metrics_collected": {
              "mem": {
                "measurement": [
                  "mem_used_percent"
                ]
              },
              "cpu": {
                "measurement": [
                  "cpu_usage_active",
                  "cpu_usage_system",
                  "cpu_usage_user"
                ]
              },
              "disk": {
                "measurement": [
                  "disk_used_percent"
                ],
                "resources": [
                  "/"
                ]
              },
              "processes": {
                "measurement": [
                  "processes_zombies"
                ]
              },
              "swap": {
                "measurement": [
                  "swap_used_percent"
                ]
              }
            }
          }
      }
container_commands:
  01-start-cloudwatch-agent:
    command: |
      /opt/aws/amazon-cloudwatch-agent/bin/amazon-cloudwatch-agent-ctl \
        -a append-config \
        -m ec2 \
        -s \
        -c file:/opt/aws/amazon-cloudwatch-agent/bin/config.json
